/* CSS Style Sheet 02 für CAS-FEE Projekt 01. */

@media screen and (max-width: 45em) {
    body {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 5em 4em 4em 7em auto 2em;
        grid-template-areas: "header" "mainMenu" "subMenu01" "sidebar" "content" "footer";
    }

    .mainMenu, .subMenu01 {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
    }

    #drpSelectStyle {
        margin-left: auto;
    }
}

@media screen and (min-width: 45em) {
    body {
        display: grid;
        grid-template-columns: 1fr 4fr 1fr;
        grid-template-rows: 5em 4em auto 2em;
        grid-template-areas: "header header header" "subMenu01 subMenu01 subMenu01" "mainMenu content sidebar" "footer footer footer";
    }

    .mainMenu {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    #btnCreateNewNote {
        margin-top: 20%;
    }

    #drpSelectStyle {
        margin-top: 50%;
    }
}

body {
    margin: 0 auto;
    width: 90%;
    min-width: 340px;
    justify-content: center;
}

.header, .mainMenu, .subMenu01, #content, .sidebar, .footer {
    border: 1px solid #2C3E50;
    border-radius: 0.2em;
}

.header, .footer {
    background: teal;
    text-align: center;
    font-size: 1.5em;
    color: white;
}

.header {
    grid-area: header;
    padding-top: 0.5em;
}

.subMenu01 > *, .mainMenu > * {
    margin: 0.5em;
}

.mainMenu {
    grid-area: mainMenu;
    padding: 0.5em;
    background-color: lightgrey;
}

.mainMenu > * {
    width: 90%;
}

.subMenu01 {
    grid-area: subMenu01;
    padding: 0.5em;
    background-color: lightgrey;
}

#content {
    grid-area: content;
    font-size: 1em;
    line-height: 0.5em;
    text-align: left;
    padding: 1em;
    background-color: azure;
}

#sortAndFilterButtons > button {
    margin: 0.5em;
}

#content textarea {
    width: 95%;
    min-width: 50px;
}

.sidebar {
    grid-area: sidebar;
    padding: 1em;
}

.footer {
    grid-area: footer;
}

/*-----------------------------------------------------------------------------
Styles for listing notes.
-----------------------------------------------------------------------------*/

.note-list-item {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 3em 6em 3em;
    grid-template-areas: "listFinishDate listTitle listTitle listImportance" "listIsFinished listDescription listDescription listDescription" "listCreateDate list_Id list_Id listBtnEdit"
}

.listIsFinished, .listCreateDate, .list_Id, .listBtnEdit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 15px;
}

.listFinishDate {
    grid-area: listFinishDate;
}

.listTitle {
    grid-area: listTitle;
}

.listImportance {
    grid-area: listImportance;
    padding: 0 0.5em;
}

.listIsFinished {
    grid-area: listIsFinished;
}

.listDescription {
    grid-area: listDescription;
}

.listCreateDate {
    grid-area: listCreateDate;
}

.list_Id {
    grid-area: list_Id;
    line-height: 1em;
    font-size: 0.9em;
}

.listBtnEdit {
    grid-area: listBtnEdit;
}

/*-----------------------------------------------------------------------------
Styles for editing notes.
-----------------------------------------------------------------------------*/

.form-row {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    margin: 10px 0;
}

.form-row > label {
    flex: 1;
    margin-left: 15px;
}

.form-row > label + * {
    flex: 2;
    margin-right: 15px;
}

.form-actions {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    margin: 40px 0 10px 0;
}

.form-actions > * {
    margin: 10px;
}

input:invalid {
    border: 2px solid red;
}

