/* CSS Style Sheet 01 für CAS-FEE Projekt 01. */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 1.1em;
}

header {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: 3px solid #a1a1a1;
    background: lightgoldenrodyellow;
}

header p {
    align-self: center;
    font-size: 1em;
    font-weight: bold;
}

.content {
    display: flex;
    background: white;
}

#sortAndFilterButtons {
    display: flex;
    justify-content: flex-start;
    background: whitesmoke;
    border: 3px solid #a1a1a1;
    padding: 10px;
}

nav {
    display: flex;
    justify-content: flex-start;
    background: lightgoldenrodyellow;
    border-left: 3px solid #a1a1a1;
    border-right: 3px solid #a1a1a1;
    border-bottom: 3px solid #a1a1a1;
    padding: 10px;
}

main {
    padding: 10px;
    border-style: solid;
    border-width: 0px 3px;
    border-color: #a1a1a1;
}
.sidebar {
    padding: 1em;
    width: 20%;
}
.footer {
    padding: 5px;
    background: whitesmoke;
    border: 3px solid #a1a1a1;
}

#btnCreateNewNote {
/*    float: left; */
}

.orderButtons {
    margin-right: 20px;
}

.filterButtons {
    margin-left: 20px;
}

.drpSelectStyle {
    display: inline-block;
    position: absolute;
    right: 20px;
}
